.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 20px; font-weight: 600;}
.THIS h4 { font-family: 'Work Sans', sans-serif;}
.THIS h5 { font-family: 'Work Sans', sans-serif;}
.THIS h6 { font-family: 'Work Sans', sans-serif;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px;}
.THIS span { font-family: 'Open Sans', sans-serif;}
.THIS .btn1 {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 10px;
    min-width: 120px;
}
.THIS .btn1:hover {
    color: #fff;
}
.THIS .btn2 {
    background-color: #fff;
    color: #4e75a3;
}
.THIS .btn2:hover {
    background-color: #fff;
    color: #4e75a3;
}
.THIS .add_scenario-button:focus {
    box-shadow: none;
    border: none;
    padding: 0;
    margin-top: 0px;
    display: block;
}
.THIS .slds-form-element__label{
    display: none !important;
}

.THIS .highlight
{
   color: red;
}

.THIS .slds-slider-label__range {
    visibility: hidden;
}
.THIS .income-slider .slds-slider__range{
   background: linear-gradient(rgba(20, 199, 58, 0.95) 100%,rgba(20, 199, 58, 0.95) 0%)!important;
}
.THIS .expense-slider .slds-slider__range{
   background: linear-gradient(rgb(222, 19, 19) 100%,rgb(45, 226, 84) 0%)!important;
}
.THIS .goal-slider .slds-slider__range{
   background: linear-gradient(rgb(79, 53, 222) 100%,rgb(79, 53, 222) 0%)!important;
}
.THIS .loan-slider .slds-slider__range{
   background: linear-gradient(rgb(243, 220, 61) 100%,rgb(243, 220, 61) 0%)!important;
}
.THIS .card-slider .slds-slider__range{
   background: linear-gradient(rgb(243, 220, 61) 100%,rgb(243, 220, 61) 0%)!important;
}
.THIS .saving-slider .slds-slider__range{
   background: linear-gradient(rgb(105, 104, 197) 100%,rgb(105, 104, 197) 0%)!important;
}
.THIS .save-icon-pos{
    
}
.THIS .slds-modal__content {
        overflow: inherit;
}
/*03-05-2019*/
.THIS.slds-tabs_default {
    width: 80%;
    margin: 0 auto;
}

.THIS .slds-p-left_medium {
	padding-left: 0;
    padding-right: 0;
}
/*====-09-05-2019-====*/
.THIS .slds-page-header__row .slds-size_6-of-12 > .slds-theme_default {
    margin: 0px 0 10px;
}
.THIS .slds-page-header__row .slds-size_6-of-12 .slds-box {
 	padding: 0px;
    border: none;
}
.THIS .slds-page-header__row .slds-size_6-of-12 > .slds-box {
   padding: 10px;
   border: 1px solid #ccc;
}
.THIS .scenarios_edit .slds-form-element__label {
    display: none;
}
.THIS .scenarios_edit .slds-form-element__control {
    margin-top: 10px;
}
.THIS .slds-page-header__row .slds-size_6-of-12 .slds-button {
   line-height: 0;
}
.THIS .scenario_mir .scenario_mir1 .slds-size_6-of-12 {
    width: 100%;
}
.THIS .value-boxes {
    min-height: 22px;
}
/*
 */
 .THIS.fina_custom-slider {
    width: 90%;
    margin: 15px auto;
}
.THIS.fina_custom-slider .slds-slider__range::selection {
  background-color: #f00;  
} 
.THIS.fina_custom-slider input[type="range"] {
    background-color: #000;
    color: #000;
    border-radius: 25px;
    height: 10px;
}
.THIS #incomeSlider001Slider .slider-selection {
	background: #BABABA;
}
.THIS #incomeSlider001Slider {
    position: relative;
    z-index: 0;
}
.THIS #incomeSlider001 {
    height: 15px;
    width: 100%;
    background-color: #cdcdcd;
    display: block !important;
    border: 1px solid #cdcdcd;
    border-radius: 25px;
    color: transparent;
}
.THIS #GoalSlider001Slider .slider-selection {
	background: #BABABA!important;
}
.THIS #GoalSlider001Slider {
    position: relative;
    z-index: 0;
}
.THIS #GoalSlider001 {
    height: 15px;
    width: 100%;
    background-color: #cdcdcd;
    display: block !important;
    border: 1px solid #cdcdcd;
    border-radius: 25px;
    color: transparent;
}

.THIS #GoalSlider002Slider .slider-selection {
	background: #BABABA;
}
.THIS #GoalSlider002Slider {
    position: relative;
    z-index: 0;
}
.THIS #GoalSlider002 {
    height: 15px;
    width: 100%;
    background-color: #cdcdcd;
    display: block !important;
    border: 1px solid #cdcdcd;
    border-radius: 25px;
    color: transparent;
}
.THIS #ExpenseSlider001Slider .slider-selection {
	background: #BABABA;
}
.THIS #ExpenseSlider001Slider {
    position: relative;
    z-index: 0;
}
.THIS #ExpenseSlider001 {
    height: 15px;
    width: 100%;
    background-color: #cdcdcd;
    display: block !important;
    border: 1px solid #cdcdcd;
    border-radius: 25px;
}
.THIS .slider-selection {
    left: 0%;
    width: 0%;
    background-color: #4e75a3 !important;
    height: 15px;
    border-radius: 25px;
    position: absolute;
    bottom: -15px;
}
.THIS .slider-selection:after {
    content: "";
    right: -15px;
    top: -3px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #4e75a3;
    box-sizing: border-box;
    position: absolute;
}

.THIS .tooltip.tooltip-min.top {
    display: none !important;
}
.THIS .tooltip-max.top  {  
    display:none !important;
}
.THIS .tooltip-min.top .tooltip-arrow {  
    display:none !important;
}
.THIS .tooltip-max.top .tooltip-arrow {  
    display:none !important;
}
.THIS .tooltip.top .tooltip-arrow {
    top: -10px;
    left: calc(50% - 5px);
    margin-left: -5px;
    border-width: 10px 10px 0;
    border-top-color: #4e75a3;
    transform: rotate(180deg);
}
.THIS .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.THIS .tooltip.tooltip-main.top {  
    position: absolute;
    top: 32px;    
    margin-left: -51px;
    background-color: #4e75a3; 
    color: #fff;
    padding: 5px 12px;
}
.THIS #slidecontainerInput {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.THIS #slidecontainerInput:hover {
  opacity: 1;
}

.THIS #slidecontainerInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.THIS #slidecontainerInput::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.THIS .slds-spinner {
    top:230px;
}
.THIS .slds-progress-bar_medium {
    height: 15px;
    border-radius: 25px;
}
.THIS .slds-progress-bar__value {
    display: block;
    background: #4e75a3;
    height: 100%;
    position: relative;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.THIS span.slds-progress-bar__value:after {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background: #fff;
    border: 2px solid #4e75a3;
    right: -6px;
    border-radius: 50%;
    top: -4px;
}

.THIS .bottom_value {
    background-color: #4e75a3;
    position: absolute;
    z-index: 3;
    right: calc(100% - 50px);
    height: auto;
    top: 25px
}
.THIS .slds-theme_default {
    background-color: #f2f0f0;
    border-radius: 0 !important;
}
.THIS .add_goals {
    font-size: 12px;
    /* text-decoration: underline; */
    margin-left: 10px;
    border-bottom: 1px solid rgba(27, 82, 151, 1);
    border-radius: 0;
    padding-bottom: 0px;
    height: 23px;
}
.THIS .add_goals:focus {
    border: none;
    box-shadow: none;
}
.THIS .slds-modal__container {
    width: 70%;
    max-width: 70%;
    margin: 0 auto;
}
.THIS .slds-box1 {
    height: 300px;
    overflow-X: hidden;
    overflow-Y: scroll;
}
.THIS .slds-box1 .slds-size_1-of-2 {
    float : left;
    margin-bottom: 20px;
}
.THIS .slds-box1 .slds-size_1-of-2 input {
    margin-top: 8px;
}
.THIS .slds-text-heading_small {
    font-weight: 300;
}
.THIS .slds-input {
    font-family: 'Open Sans',sans-serif;
    background-color: #f2f0f0;
    height: 40px;
    border-radius: 0;
}
.THIS .slds-input[readonly] {
    font-family: 'Open Sans',sans-serif;
    background-color: #f2f0f0;
    height: 40px;
    border-radius: 0;
}
.THIS .second_p-bar .slds-progress-bar_small {
    margin-top: 15px;
}
.THIS .second_p-bar span.slds-progress-bar__value:after {
    top: -9px;
}
.THIS .income_indicator b {
    display: inline-block; 
    margin-top: 13px; 
    margin-right: 5px;
}
.THIS .income_indicator .slds-form-element {
    float: right; 
    width: 120px;
}
.THIS .income_indicator .slds-form-element input {
    height: 30px;
}
.THIS .income_indicator .slds-button {
    float: right;
    margin-left: 4px;
    margin-top: 0px;
    background-color: #00b088;
    height: 31px;
    width: 30px;
    border-radius: 0px;
    border: 1px solid #01bb66;
}
.THIS .income_indicator .slds-button .slds-button__icon {
    margin-left: 5px;
    fill: #fff;
    height: 16px;
    width: 16px;
    margin-top: -2px;
    box-shadow: 0px 0 20px 0 #fff;
}