.THIS .bar{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.THIS .slds-slider__range{
    background:linear-gradient(to left, rgb(45, 226, 84) 0%, rgb(229, 152, 43) 33%, rgb(255, 20, 20) 75%, rgb(255, 20, 20) 100%) !important;
}
.THIS .slds-slider-label__label  {
    font-family:Salesforce Sans,Arial,sans-serif;
    font-size: 1rem !important;
    font-weight: bold;
}
.THIS .slds-slider-label__range  {
    font-family:Salesforce Sans,Arial,sans-serif;
    font-size: 1rem !important;
    font-weight: bold;
}
.THIS .slds-slider__value  {
    font-family:Salesforce Sans,Arial,sans-serif;
    font-size: 1rem !important;
    font-weight: bold;
}

.THIS .slds-slider_vertical .slds-slider__range {
        width: 16rem;
} 

.THIS .slds-slider-label__range {
    display: none;
}
.THIS .slds-slider-label__label {
    display: none;
}

.THIS .alertMessage div{
    color : #000 !important;
}

.THIS .modalCss div{
    color: #000 !important;
}
.THIS .defaultRedIndicators {
    width: 15px;
    background: #f7d6d6;
    height: 15px;
    border-radius: 9px;
}

.THIS .defaultOrangeIndicators {
    width: 15px;
    background: #fff0d0;
    height: 15px;
    border-radius: 9px;
}

.THIS .defaultGreenIndicators {
    width: 15px;
    background: #e6ffe4;
    height: 15px;
    border-radius: 9px;
}

.THIS .RedIndicators {
    width: 15px;
    background: #ff0023;
    height: 15px;
    border-radius: 9px;
}

.THIS .OrangeIndicators {
    width: 15px;
    background: #ff8c00;
    height: 15px;
    border-radius: 9px;
}

.THIS .GreenIndicators {
    width: 15px;
    background: #00ff14;
    height: 15px;
    border-radius: 9px;
}

.THIS .indicators li {
    float: left;
}
.THIS .slds-card {
    border: none;
}
.THIS .slds-card__header {
    background-color: #2D4A7d;
    padding: 5px 15px;
    color: #fff;
}
.THIS .slds-text-title_caps {
    line-height: 24px;
    font-weight: 700;
}
.THIS .slds-table thead th {
    background-color: #4C9BDF;
    color: #fff;
    text-transform: capitalize;
}
.THIS .fh-button {
    position: absolute;
    top: 2px;
    right: 15px;
}
.THIS .fh-button .slds-button_neutral {
    font-weight: 700;
    line-height: 24px;
}
.THIS .information {
    /*background: -moz-linear-gradient(360deg, #1B5F9E 0%, #fff 100%);  ff3.6+ */
	/*background: -webkit-gradient(360deg, #1B5F9E 0%, #fff 100%);  safari4+,chrome */
	/*background: -webkit-linear-gradient(360deg, #1B5F9E 0%, #fff 100%);  safari5.1+,chrome10+ */
	/*background: -o-linear-gradient(360deg, #1B5F9E 0%, #fff 100%);  opera 11.10+ */
	/*background: -ms-linear-gradient(360deg, #1B5F9E 0%, #fff 100%);  ie10+ */
	/*background: linear-gradient(360deg, #1B5F9E 0%, #fff 100%);  w3c */
    margin: 0;
    background-color: #fff;
} 
.THIS ul.indicators {
    margin-top: 5px;
}
.THIS ul.indicators li:last-child {
    margin-left: 5px;
}
.THIS .slds-table_cell-buffer tr>th:first-child {
    padding-left: 10px;
}
.THIS .slds-table_cell-buffer tr>td:first-child {
    padding-left: 10px;
}
.THIS .slds-table_cell-buffer tr>th:last-child {
    padding-right: 0px;
}
.THIS .slds-table_cell-buffer tr>td:last-child {
    padding-right: 0px;
}
/*26-04-1990*/
.THIS .dashboard_header .slds-form-element__control {
    width: 100%;
}
.THIS .slds-card__body {
    padding: 15px 0;
    width: 80%;
    margin: 0 auto;
}
.THIS .my_balance-sheets .slds-card__body {
    padding: 0;
    width: 100%;
}
.THIS .slds-text-title_caps {
    text-transform: capitalize;
}
.THIS .budget-brand .slds-button {
    background-color: #71ba3d;
    border: 1px solid #71ba3d;
    color: #fff;
}
.THIS .slds-modal__header {
    background-color: #004487;
    color: #fff;
}
.THIS .slds-modal__header h2 {
    font-weight: 700;
}
.THIS .slds-modal__content .bBody h4 {
    background-color: #4c9bdf;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.THIS .slds-modal__content .information {
    padding: 0;
}
.THIS .slds-modal__content .bBody {
    overflow: visible;
}
/*02-05-2019*/
.THIS .label_none .slds-form-element__label {
    display: none;
}
/*03-05-2019*/
.THIS .months .information {
    background-color: #A61A14;
    color: #fff;
}
.THIS .months .information.bg-green {
    background-color: #57D14B;
}
.THIS .slds-text-title--caps .slds-text-title_caps:last-child {
    padding-left: 10px;
}
@media (max-width: 992px) {
    .THIS .slds-page-header__row {
        display: inline;
    } 
    .THIS .dashboard-parant {
        width: 100%;
        float: left;
    }
    .THIS .payment-goals .slds-size_3-of-12 {
        width: 50%;
        display: inline-block;
    }
	.THIS .slds-col.slds-size_1-of-3.dashboard-parant:first-child {
        margin-bottom: 15px;
    }
}
@media (max-width: 768px) {
    .THIS .slds-page-header__row {
        display: inline;
    } 
    .THIS .dashboard-parant {
        width: 100%;
        float: left;
    }
    .THIS .payment-goals .slds-size_3-of-12 {
        width: 50%;
        display: inline-block;
    }
    .THIS .slds-col.slds-size_1-of-3.dashboard-parant:first-child {
        margin-bottom: 15px;
    }
}
@media (max-width: 576px) {
    .THIS .slds-page-header__row {
        display: inline;
    } 
    .THIS .dashboard-parant {
        width: 100%;
        float: left;
    }
    .THIS .payment-goals .slds-size_3-of-12 {
        width: 50%;
        display: inline-block;
    }
    .THIS ul.indicators li:last-child {
        margin-left: 1px;
        font-size: 10px;
    }
	.THIS .slds-col.slds-size_1-of-3.dashboard-parant:first-child {
        margin-bottom: 15px;
    }
}

.THIS .cDashboardComponent .bBody {
    color: black;
}