.THIS .slds-page-header {
        background-color: #8a9ebe ;
    color:white;
}
.THIS .slds-col{  
    margin-right:7rem;
    margin-left:7rem;
    padding-right: 0.7rem;
    padding-left: 0.5rem;
   
}