.THIS lightning-input>label {
    display: none !important;
}

.THIS lightning-input>lightning-helptext {
    display: none !important;
}

.THIS .custom_card {
    width: 94%;
    margin: 0 3%;
}
.THIS .textarea_custom .slds-textarea {
    height: 32px;
}
.THIS .custom_card .slds-size_1-of-2 {
    float: left;
    font-size: 0.75rem;
    color: rgb(62, 62, 60);
    line-height: 1.5;
}
.THIS .custom_card .slds-form-element {
    margin-bottom: 10px;
}
.THIS .mb-10 {
    margin-bottom: 10px;
}
 .THIS .ml-10 {
    margin-left: 2px;
    margin-right: 5px;
}
.THIS .mlr {
    margin: 0 0.25rem;
}