.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px; font-weight: 700;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 16px; font-weight: 600;}
.THIS h4 { font-family: 'Work Sans', sans-serif;}
.THIS h5 { font-family: 'Work Sans', sans-serif;}
.THIS h6 { font-family: 'Work Sans', sans-serif;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px;}
.THIS span { font-family: 'Open Sans', sans-serif;}
.THIS label { font-family: 'Open Sans', sans-serif;}
.THIS select { font-family: 'Open Sans', sans-serif; background-color: #fdfdfd; border: 1px solid #bbb; border-radius: 0;}
.THIS .btn1 {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 5px;
    min-width: 150px;
}
.THIS .btn1:hover {
    color: #fff;
}
.THIS .client_managed {
    background-color: #fff;
    box-shadow: 0 0px 5px 0px #ccc;
    position:relative;
}
.THIS .slds-page-header__title.slds-truncate h2 {
    text-align: left;
}
.THIS .cClientLookup .slds-form-element__control {
    width: 100%;
}
.THIS .slds-card__body {
    width: 80%;
    margin: 0 auto;
}
.THIS .tax-amount-table .slds-card__body {
    width: 100%;
}
.THIS .tax-amount-table .slds-table--cell-buffer {
    background-color: #ccc;
}
.THIS .slds-page-header {
    color:white;
    background: #2d4a7d;
    margin-top: 15px;
    width: 80%;    
}
.THIS .color-green {
  background-color: green;
}
.THIS .color-red {
  background-color: red;    
}
.THIS .slds-button_destructive {
    background-color: rgb(28, 65, 121);
    border-color: rgb(255, 255, 255);
}
.THIS .summarysection{
    background-color:#E7F4E2;
   height:20px;
    Padding: 3px 5px;
    color: #36578C;
}
.THIS .summarysection1{
   height:18px;
    Padding: 3px 5px;
    color: #36578C;
}
.THIS .subsection{
    padding:0 5px;
}
.THIS .slds-box{
    width: 80%;
    margin: 30px auto;
    padding: 0;
    border: none;
}
.THIS .bud-months .slds-button_neutral {
    line-height :15px;
    padding: 5px 0;
    border-radius: 0;
    width: 100%;
}
.THIS .slds-button_neutral:active{
    background-color: #2d4a7d;
    color: white;
}
.THIS .btn_destructive {
    background-color: #c23934;
    color: #fff;
    border: 1px solid #c23934;
}
.THIS .slds-table_cell-buffer tr>td:last-child {
    padding-right: 0;
}
.THIS .bud-month-act {
        background-color: #2d4a7d;
    color: white;
}
.THIS .budget-brand {
    line-height: 30px;
    font-weight: 700;
    /* margin-bottom: 15px; */
    padding-left: 10px;
    padding-right: 10px;
    min-width: 120px;
    text-align: center;
    background-color: #71BA3D;
    border: 1px solid #71BA3D;
}
.THIS .slds-media__body {
    padding: 10px 0;
}
.THIS .slds-table {
    padding: 10px 0;
}
.THIS .slds-table_cell-buffer tr>th:first-child {
    padding-left: 30px;
}
.THIS .slds-table thead th {
    background-color: #4c9bdf;
    padding: 7px 0 7px 30px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0;
}
.THIS .slds-table tbody th a {
    color: #333;
}
.THIS .slds-table tbody td {
    padding: 5px 0 5px 30px;
}
.THIS span.slds-page-header__title.slds-truncate h2 {
    font-size: 20px;
    color: #000;
}
.THIS .slds-table_bordered {
    border-top: none;
}
.THIS .slds-table tbody td .slds-truncate .slds-button_icon-bare:first-child .slds-button__icon {
        color: rgb(52, 93, 74);

}
.THIS .slds-table tbody td .slds-truncate .slds-button_icon-bare:nth-child(2) .slds-button__icon {
            color: #772525;
}
.THIS .bud-months {
    width: 80%;
    margin: 0 auto;
}
.THIS .bud-months .slds-size_1-of-12 {
    float: left;
    padding: 2px;
    text-align: center;
    font-size: 10px;
    	
}
.THIS .income-tab {
    padding: 10px 0px;
    width: calc(100% - 60px);
    float: left;
}
.THIS .slds-table--striped tbody tr th {
    background-color: #fff;
}
.THIS .slds-table--striped tbody tr td {
    background-color: #fff;
}
.THIS .slds-table_cell-buffer tr>td:first-child {
	padding-left: 0;
}
.THIS .slds-tabs_default {
    padding: 0 5px;
}
.THIS .slds-text-heading_small {
	color: #333 !important;
}
.THIS .slds-button:focus {
    box-shadow: none;
}
.THIS .slds-button_neutral:focus {
    background-color: #2D4A7D;
    color: #fff;
    box-shadow: none;
}
.THIS .active {
    background-color: #2D4A7D;
    color: #fff;
    box-shadow: none;
}
.THIS .bud-month-1 {
    display: inline-block;
}
.THIS .bud-month-1 .slds-size_1-of-12 {
    float: left;
}
.THIS .slds-tabs_default__item {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}
.THIS .slds-tabs_default__link[tabindex="0"]:focus {
    text-decoration: none;
}
/*02-05-2019*/
.THIS .label_none .slds-form-element__label {
    display: none;
}
/*03-09-2019*/
.THIS .total_investment {
    background-color: #fff;
    box-shadow: 0 0px 5px 0px #ccc;
    padding: 10px 10px 0px 20px;
    height: 100%;
}
.THIS .slds-template_default {
    padding: 0;
}
.THIS .slds-theme_default {
    background-color: #fafafa;
}
.THIS .slds-progress-bar.slds-progress-bar_large {
    height: 18px;
}
.THIS .bud-months .slds-select_container:after {
    top: 14px;
    width: 6px;
}
.THIS .bud-months .slds-select_container:before {
    display:none;
}
.THIS .budget-featers h2 {
    font-weight: 400;
    margin: 8px 0;
}
.THIS .budget-featers p {
    font-size: 12px;
    color: #00b088;
}
/*04-09-2019*/
.THIS .budget-featers {
    position: relative;
    z-index: 0;
}
.THIS .budget-featers img {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 15px;
}
.THIS .slds-form-element .slds-form-element__label {
    display: none;
}
.THIS.slds-theme_default {
    background-color: #fafafa;
}
.THIS .income_dropdown {
    color: #000;
}
.THIS .income_dropdown span:first-child {
    position: absolute;
    z-index: 0;
    right: 0;
}
.THIS .income_dropdown span:nth-child(2) {
    min-width: 70px;
}
.THIS .income_dropdown .slds-section__title-action {
    background-color: transparent;
}
.THIS .slds-progress-bar__value {
    background-color: #00b088;
}
.THIS .triple_dot {
    position: absolute;
    right: -70px;
    top: 3px;
}
.THIS .triple_dot ul li {
    display: inline-block;
}
.THIS .triple_dot ul li .slds-button_icon-border {
    border: none;
}
.THIS .slds-box .slds-is-close {
    border: 1px solid #ccc;
    padding: 10px 0;
    box-shadow: 0 0 2px 0 #ccc;
}
.THIS .income-tab .slds-button_neutral {
    padding: 0;
    border: none;
    margin-left: 15px;
}
.THIS .income-tab .slds-button_neutral:hover {
    background-color: transparent;
}
.THIS .income-tab .slds-button_neutral:focus {
    background-color: transparent;
    color: #4e75a3;
}
.THIS .no-data .slds-icon {
    height: 56px;
    width: 56px;
}
.THIS .active-goal .slds-progress-bar {
    height: 18px;
}
.THIS .active-goal .slds-icon-action-approval {
    position: relative;
}
.THIS .on-track .slds-icon {
    position: absolute;
    top: 0;
    width: 20px;
    left: 0;
}
.THIS .proj-com {
    font-size: 12px;
    color: #808080;
}
.THIS .on-track {
    color: #00b088;
    font-size: 12px;
    position: relative;
    margin-left: 10px;
}
.THIS .active-goal h3 .slds-float_right1 {
    color: #000;
    font-size: 14px;
}
.THIS a .slds-button_neutral {
    border: none;
    padding: 0;
    line-height: 0;
}
.THIS a .slds-button_neutral:hover {
    text-decoration: none;
    background: transparent;
}
.THIS a .slds-button_neutral:focus {
    border: none;
    padding: 0;
    text-decoration: none;
    background: transparent;
    color: #4e75a3;
}
.THIS .slds-button_icon-border {
    border: none;
    margin-right: 0px;
}
@media (max-width: 992px) {
    .THIS .bud-months .slds-size_1-of-12 {
        width: 16%;
        margin: 5px 0;
        padding: 5px;
    }
    .THIS .bud-months .slds-size_1-of-12 .slds-button_neutral {
        font-size: 12px;
        padding: 5px 0;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .THIS .bud-months .slds-size_1-of-12 {
        width: 16%;
        margin: 5px 0;
        padding: 5px;
    }
    .THIS .bud-months .slds-size_1-of-12 .slds-button_neutral {
        font-size: 12px;
        padding: 5px 0;
        width: 100%;
    }
}
@media (max-width: 576px) {
     .THIS .slds-table_cell-buffer tr>th:first-child {
        padding-left: 10px;
    }
    .THIS .slds-table thead th {
        padding: 10px 0 10px 10px;
    }
    .THIS .slds-table tbody td {
        padding: 5px 0 5px 10px;
    }
    .THIS .bud-months .slds-size_1-of-12 {
        width: 25%;
        margin: 5px 0;
        padding: 1px;
    }
    .THIS .bud-months .slds-size_1-of-12 .slds-button_neutral {
        font-size: 12px;
        padding: 5px 0;
        width: 100%;
    }
    .THIS .roll-up-bar .slds-size_3-of-12 {
        width: 50%;
    }
}