.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 16px; font-weight: 600;}
.THIS h4 { font-family: 'Work Sans', sans-serif;}
.THIS h5 { font-family: 'Work Sans', sans-serif;}
.THIS h6 { font-family: 'Work Sans', sans-serif;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px;}
.THIS span { font-family: 'Open Sans', sans-serif;}
.THIS .btn1 {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 5px;
    min-width: 120px;
}
.THIS .btn1:hover {
    color: #fff;
}
.THIS container.slds-template__container{
    background-color: white;
}
.THIS .slds-col_goal-icon .slds-button {
    display: block;
}
.THIS .slds-modal__container {
    width: 50%;
    max-width: 70%;
    margin: o auto;
}
.THIS .slds-col1 {
    width: 24%;
    float: left;
    margin: 15px 0.5%;
    position: relative;
    z-index: 0;
    text-align: center;
}
.THIS .slds-col1 span {
    display: block;
    width: 100%;
}
.THIS.hideDiv {
    display: none;
}
.THIS .slds-col1 .slds-button {
    padding: 10px 0px 10px;
    width: 100%;
}
.THIS .slds-col1 img {
    width: 50%;
    height: 40px;
    transition: all 500ms;
	-moz-transition: all 500ms;
	-webkit-transition: all 500ms;
}
.THIS .slds-col1:hover img {
    transform: scale(1.3);
    transition: all 500ms;
	-moz-transition: all 500ms;
	-webkit-transition: all 500ms;
}
.THIS .slds-col1-cover h5 {
    color: #000;
    font-weight: 500;
    line-height: 0;
    margin: 30px 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.THIS.hideouterdiv {
  display:none;
}
.THIS .slds-modal__content:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.THIS #modal-heading-01 {
    font-family: 'Work Sans', sans-serif;
    color: #000;
    text-align: left;
    padding-left: 1px;
}
.THIS .slds-media {
    height: 20px;
}
@media (max-width: 1200px) {
    .THIS .slds-col1-cover {
        top: 78%;
    }
}
@media (max-width: 992px) {
 	.THIS .slds-modal__container {
        display: block;
    } 
    .THIS .slds-modal__container {
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
    }
    .THIS .slds-col1-cover {
        top: 78%;
    }
}
@media (max-width: 767px) {
 	.THIS .slds-modal__container {
        display: block;
        width: auto;
    } 
    .THIS .slds-p-around_medium {
        overflow-y: scroll;
        height: 400px;
    }  
    .THIS .slds-col1-cover {
        top: 70%;
    }
}
@media (max-width: 576px) {
    .THIS .slds-modal__container {
        display: block;
    } 
    .THIS .slds-col1 {
    	width: 48.5%;
    }
    .THIS .slds-col1-cover {
        top: 75%;
    }
    .THIS .slds-text-heading_medium {
        font-size: 1rem;
    }
}
@media (max-height: 600px) {
    .THIS .slds-p-around_medium {
        height: 300px;
        overflow-Y: scroll;
    }
}
@media (max-height: 500px) {
    .THIS .slds-p-around_medium {
        height: 250px;
        overflow-Y: scroll;
    }
}