.THIS body { font-family: 'Open Sans', sans-serif;}
.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 16px; font-weight: 600;}
.THIS h4 { font-family: 'Work Sans', sans-serif;}
.THIS h5 { font-family: 'Work Sans', sans-serif;}
.THIS h6 { font-family: 'Work Sans', sans-serif;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px;}
.THIS span { font-family: 'Open Sans', sans-serif;}
.THIS .btn1 {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 5px;
    min-width: 120px;
    font-family: 'Open Sans', sans-serif;
}
.THIS .btn1:hover {
    color: #fff;
    background-color: #4E75A3;
}
.THIS .btn2 {
    background-color: #fff;
    color: #4e75a3;
    border: 1px solid #4e75a3;
}
.THIS .btn2:hover {
   background-color: #fff;
    color: #4e75a3;
    border: 1px solid #4e75a3; 
}
.THIS .label-hidden label {
    display: none !important;
}
.THIS .custom_card {
  width: 94%;
  margin: 0 3%;
}
.THIS .custom_card .slds-table thead th {
    padding: 8px .5rem;
}
.THIS .custom_card .slds-table thead th:first-child {
    padding-left: 1.5rem;
}
.THIS .mlr {
	margin: 0 0.25rem;
}
.THIS .custom_card .slds-size_1-of-2 {
    margin-top: 10px;
    font-size: 0.75rem;
    color: rgb(62, 62, 60);
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}
.THIS .slds-input {
    font-family: 'Open Sans', sans-serif;
}
.THIS .slds-textarea {
    font-family: 'Open Sans', sans-serif;
}
.THIS .slds-form-element__help {
    position: absolute;
}