.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px; text-align: left;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 16px; font-weight: 600;}
.THIS h4 { font-family: 'Work Sans', sans-serif;}
.THIS h5 { font-family: 'Work Sans', sans-serif;}
.THIS h6 { font-family: 'Work Sans', sans-serif;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px;}
.THIS span { font-family: 'Open Sans', sans-serif;}
.THIS .btn1 {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 5px;
    min-width: 120px;
}
.THIS .btn1:hover {
    color: #fff;
}.THIS label.slds-form-element__label{
    display: none !important;   
}
.THIS .slds-box1 .slds-size_1-of-2 {
    float : left;
    padding : 0 15px;
    margin-bottom: 10px;
}
.THIS .btn2 {
   background-color: #fff;
    color: #4e75a3;
    border: 1px solid #4e75a3; 
}
.THIS .btn2:hover {
   background-color: #fff;
    color: #4e75a3;
    border: 1px solid #4e75a3; 
}
.THIS .EditCalender .slds-button{
    background: transparent;
    color: #333;
    min-width: 20px;
    display: inline-block;
    height: 25px;
    margin-top: -4px;
}
.THIS .slds-modal__content {
        height: 250px;
}
.THIS .slds-form-element {
    display: inline;
}
.THIS.hideDiv {
    display: none;
}
.THIS .slds-align-middle {
    vertical-align: middle;
    align-self: center;
    margin: -8px 0 0 5px;
}
.THIS .slds-text-heading_small {
    font-weight: 300;
}
.THIS .slds-modal__container {
    width: 70%;
    max-width: 70%;
    margin: 0 auto;
}

.THIS.hideDiv {
    display: none;
}
.THIS .slds-modal__container {
    width: 70%;
    max-width: 70%;
    margin: 0 auto;
}
.THIS .slds-box1 .slds-form-element__control {
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
}
.THIS .slds-box1 .slds-form-element__control input {
    background-color: #f2f0f0;
    height: 40px;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    margin-top: 8px;
}
.THIS .slds-box1 .slds-form-element__control select {
    background-color: #f2f0f0;
    height: 40px;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    margin-top: 8px;
}
.THIS .slds-select_container:before {
    top: 15px;
}
.THIS .highlight {
   color: red;
}
.THIS .buttonClass {
    width : 30%
}
.THIS .slds-modal__content {
    height: 400px;
} 
.THIS .slds-box1 .slds-has-error {
    position: relative;
    z-index: 0;
    display:block;
}
.THIS .slds-box1 .slds-form-element__help {
    z-index: 1;
    position: absolute;
    bottom: -15px;
}
@media (max-width: 767px) {
	.THIS .slds-box1 .slds-size_1-of-2 {
        width: 100%;
    }
    .THIS .slds-modal__container {
        width: 80%;
        max-width: 80%;
    }
    .THIS .slds-modal__content {
        height: 300px;
    }
}
@media (max-width: 576px) {
    .THIS .slds-text-heading_medium {
        font-size: 1rem;
    }
    .THIS h3#modal-heading-01 {
        display: none;
    }
    .THIS .slds-p-around_medium {
        padding: 0 1rem;
    }
    .THIS .slds-modal__content {
        height: 250px;
    }
}