.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 16px; font-weight: 600;}
.THIS h4 { font-family: 'Work Sans', sans-serif;}
.THIS h5 { font-family: 'Work Sans', sans-serif;}
.THIS h6 { font-family: 'Work Sans', sans-serif;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px;}
.THIS span { font-family: 'Open Sans', sans-serif;}
.THIS .btn1 {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 5px;
    min-width: 120px;
}
.THIS .btn1:hover {
    color: #fff;
}
.THIS .btn2 {
    background-color: #fff;
    color: #4e75a3;
}
.THIS .btn2:hover {
    background-color: #fff;
    color: #4e75a3;
}
.THIS .custom_card {
    width: 94%;
    margin: 0 3%;
}
.THIS .custom_card .slds-size_1-of-2 {
    float: left;
    font-size: 0.75rem;
    color: rgb(62, 62, 60);
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}
.THIS .custom_card .slds-size_1-of-2 .slds-icon-standard-account {
    margin-top: 5px;
}
.THIS .custom_card .slds-size_1-of-2 .slds-input__icon_right {
    margin-top: 0px;
}
.THIS .slds-select_container:before {
    top: 15px;
}
.THIS .custom_card .slds-size_1-of-2 .slds-input {
    margin-top: 8px;
}
.THIS .custom_card .slds-size_1-of-2 .slds-select {
    margin-top: 8px;
}
.THIS .custom_card .slds-size_1-of-2 .slds-textarea {
    margin-top: 8px;
}
.THIS .custom_card .slds-size_1-of-2 .textarea_custom lightning-textarea{
    display:inline;
}
.THIS .custom_card .slds-form-element {
    margin-bottom: 10px;
    margin-top: 2px;
}
.THIS .mlr {
    margin: 0 0.25rem;
}
.THIS .apy_hidden-f {
    position: relative;
}
.THIS .apy_hidden-f .slds-form-element__icon {
	position: absolute;
    top: -24px;
    left: 25px;
    display: none;
}
.THIS .label-hidden label {
    display: none !important;
}
.THIS .apy_hidden-icon .slds-form-element__icon {
    display: none;
}
.THIS .slds-input {
    font-family: 'Open Sans',sans-serif;
    background-color: #f2f0f0;
    height: 40px;
    border-radius: 0;
}
.THIS .slds-input[readonly] {
    background-color: #f2f0f0;
}
.THIS .slds-textarea {
    font-family: 'Open Sans',sans-serif;
    background-color: #f2f0f0;
    height: 40px;
    border-radius: 0;
}
.THIS .slds-select {
    font-family: 'Open Sans',sans-serif;
    background-color: #f2f0f0;
    height: 40px;
    border-radius: 0;
}