.THIS .leftColumnTab {
    float: left;
    background: #2d4a7d;
    border-radius: 0;
    width: 100%;
    padding: 10px;
}
.THIS .tabHeading {
    float:left;
    margin-left: 3px;
    color:#fff;
}
.THIS .netAmount {
    width: 100%;
    background: #f1f6fc;
    border-radius:  0;
    float: left;
    padding: 5px;
}
.THIS .netheadingtotal{
     float: left;
}
.THIS .netheadingworth{
    float: right
}
.THIS .slds-card {
    position: relative;
    padding: 0;
  background: #f1f6fc;
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
.THIS .slds-text-title_caps {
    line-height: 24px;
    font-weight: 700;
}
.THIS .loanrate {
    float: left;
   	padding: 5px;
    color: #555;    
}
.THIS .balance{
    float: right;
    color: #555;
}
.THIS .slds-card__header {   
}
.THIS .netTotalHeading{
     padding: 5px;
    float:left;
}
.THIS .netTotalValue{
    padding: 5px;
    float:right;
}
.THIS .netTotalBal{
    float:right;
}
.THIS .accord{
    width:100%;
}
.THIS .slds-accordion__section {
    padding: 10px 0;
    background-color: #B1CCF0;
    float: left;
    width: 100%;
    border-top: 1px solid #f1f2f3;
}
.THIS .slds-card__body {
    background-color: #f1f6fc;
    padding: 5px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.THIS .balance-sheet .slds-card__header {
    display: none;
}
.THIS .balance-sheet .slds-button {
    padding: 0 10px;
}