.THIS .slds-tabs_default__content {
    /*background-color: #f1f2f3;*/
    border: 1px solid #ccc;
}
.THIS .container {
    position: relative;
    text-align: center;
    color: white;
    width: 74%;
}
.THIS .slds-required{
    display:none;
}
.THIS .container .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.THIS .container .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.THIS .container1 {
    position: relative;
    text-align: center;
    color: white;
    width: 74%;
}
.THIS .container1 .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.THIS .container1 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.THIS .container2 {
    position: relative;
    text-align: center;
    color: white;
    width: 74%;
}
.THIS .container2 .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.THIS .container2 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.THIS .slds-card__body {
    width: 80%;
    margin: 0 auto;
}
.THIS .slds-tabs_default__item {
    padding: 0;
    margin: 10px 5px 0 0;
}
.THIS .slds-tabs_default__link {
    font-size: 14px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    transition: all 100ms;
    text-decoration: none;
}
.THIS .slds-tabs_default__link[tabindex="0"]:focus {
    text-decoration: none;
}
.THIS .aff-data-box {
    width: calc(100% - 30px);
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 2px 15px 7px;
    margin: 10px 15px;
}
.THIS .aff-data-box label {
    font-size: 14px;
    font-weight: 700;
    color: #222;
}
.THIS .aff-data-box p {
    font-size: 12px;
    margin: 3px 0 0;
    color: #666;
}
.THIS .check-affordability {
    text-align: right;
    padding: 10px 15px;
}
.THIS .check-affordability .slds-button_neutral {
    background-color: #54ac32;
    color: #fff;
    font-weight: 700;
    padding: 5px 15px;
    border: 1px solid #54ac32;    
}
.THIS .aff-data-box1 {
    width: 100%;
    border-radius: 5px; 
    padding: 0px 15px 7px;
}
.THIS .aff-data-box1 h2 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.THIS .aff-data-box1 p {}

.THIS .unkown_aff {
    
    background-size: cover;
    padding: 30px 10px;
    margin: 15px;
    color: #fff;
    font-weight: 700;
    width: calc(100% - 30px);
    border-radius: 10px;
}

.THIS .unkown_aff h2 {
    font-size: 40px;
    margin: 30px 0;
    text-align: right;
}
.THIS .unkown_aff h4 {
    font-size: 14px;
    margin-top: 15px;
    line-height: 16px;
}
.THIS .show_more {
    position: absolute;
    right: 0;
    top: -30px;
}
.THIS .show_more a {
    background-color: #54ac32;
    color: #fff;
    border: 1px solid #54ac32;
    padding: 5px 10px;
    transition: all 300ms;
    border-radius: 5px;
}
.THIS .show_more a:hover {
    text-decoration: none;
    color: #54ac32;
    background-color: #fff;
    transition: all 300ms;
}
.THIS #ifYes .slds-form-element__row .slds-size_1-of-2{
    float:left;
}
.THIS #ifYes .slds-form-element__row .slds-size_1-of-2:nth-child(odd){
    padding-right:15px;
}
.THIS #ifYes .slds-form-element__row .slds-size_1-of-2:nth-child(even){
    padding-left:15px;
}
.THIS .Summary_cashflow {
    max-width: 75%;
    width: 75%;
}
.THIS .Summary_cashflow .slds-modal__header {
    padding: 0;
}
.THIS .Summary_cashflow .slds-modal__header .slds-table thead th {
    /*background-color: #2D4A7D;
    color: #fff;*/
    padding: 10px ;
}
.THIS .Summary_cashflow .slds-modal__header .slds-table thead th:first-child {
    width: 30%;
}
.THIS .Summary_cashflow .slds-modal__content {
    padding: 0;
}
.THIS .Summary_cashflow .slds-modal__content .slds-table {
    margin-top: -24px;
}
.THIS .Summary_cashflow .slds-modal__content .slds-table tbody th:first-child {
    width: 30%;
    border-bottom: 1px solid #ccc;
}
.THIS .Summary_cashflow .slds-modal__content .slds-table tbody td:first-child {
    width: 30%;
}
.THIS .Summary_cashflow .slds-modal__content .slds-table tbody td {
    padding: 8px 6px;
    border-bottom: 1px solid #ccc;
}
.THIS .select_year {
    width : 15%;
    float : right;
    margin :-18px 2px 1px;
}