.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 16px; font-weight: 600;}
.THIS h4 { font-family: 'Work Sans', sans-serif;}
.THIS h5 { font-family: 'Work Sans', sans-serif;}
.THIS h6 { font-family: 'Work Sans', sans-serif;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px;}
.THIS span { font-family: 'Open Sans', sans-serif;}
.THIS a { font-family: 'Open Sans', sans-serif;}
.THIS .btn1 {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 5px;
    min-width: 120px;
}

.THIS.mgList {
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.THIS .searchbar{
    margin-right:40%;
}
.THIS .selected{
    width: 60px;
    height: 30px;
    padding: 3px;
    border: 1px solid;
    display: inline-block;
    border-radius: 3px;
}
.THIS .slds-button_icon-bare{
    overflow: visible;
}
.THIS .slds-scrollable_x {
    overflow-y:visible !important;
    overflow-x:visible !important;
}

.THIS .slds-scrollable_y {
    overflow-y:visible !important;
    overflow-x:visible !important;
}
.THIS lightning-button > button{
    display : contents !important;
}
.THIS .inline-buttons {
    display:inline-block !important;
}
.THIS .left-margin{
    margin-left:5px;
}

.THIS.slds-show {
    background-color: #fdfdfd;
}
.THIS.slds-show .slds-page-header__row .slds-size_6-of-12 h2 {
    font-size: 28px;
    font-weight: 500;
}
.THIS .slds-align-right {
    text-align: right;
}
.THIS .slds-button+.slds-button {
    margin-left: 3px;
}
.THIS .slds-p-around_small {
    text-align: center;
}

.THIS .total_investment {
    background-color: #fff;
    box-shadow: 0 0px 5px 0px #ccc;
    padding: 10px;
    text-align: center;
}
.THIS .total_investment p {
    color: #000;
    display: block;
}
.THIS .total_investment p span {
    font-size: 12px;
}
.THIS .total_assesment_abc {
     
    background-color: #4E75A3;
    padding-bottom: 15px;
    color: #fff;
}
.THIS .total_assesment_abc_one{
    text-align: center;
     padding-left:10px;
    padding-top: 10px;
   font-weight: BOLD;
}
.THIS .total_assesment_abc_two{
        text-align: center;
    padding: 70px 0 65px;
    font-weight: BOLD;
}
.THIS .total_assesment_abc_one h3 .slds-icon {
    fill: #fff;
}
.THIS .total_assesment_abc_one h3 span {
    font-weight: 300;
    font-size: 12px;
}
.THIS .total_assesment_abc_two h1 {
    font-size: 36px;
    letter-spacing: 5px;
}
.THIS .total_investment h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 80px 0;
    display: block;
    color: #000;
}
.THIS .slds-table_header-fixed thead th {
    background-color: #e2ecf7;
}
.THIS .slds-table_header-fixed thead th a span {
    font-weight: 700;
    color: #000;
}
.THIS .slds-th__action {
    height: 3rem;
}
.THIS .slds-table_header-fixed tbody tr td {
    padding: 10px 0;
}
.THIS .slds-scrollable_y table {
    margin-top: 15px;
}