.THIS body {
    font-family: 'Open Sans', sans-serif;
}
.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 20px; font-weight: 600; color: #000;}
.THIS h4 { font-family: 'Work Sans', sans-serif;}
.THIS h5 { font-family: 'Work Sans', sans-serif;}
.THIS h6 { font-family: 'Work Sans', sans-serif;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px;}
.THIS span { font-family: 'Open Sans', sans-serif;}
.THIS .slds-button {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 10px;
    min-width: 120px;
}
.THIS .slds-button:hover {
    color: #fff;
}
.THIS #nav {
    background-color: #fff;
}
.THIS #nav li{
    border-width:0px 0px 0px 0px;
    border-style:none;
    position: relative;
    }
.THIS .smallIcons{
  width:8%;  
}
.THIS .mediumIcons{
  width:9.5%; 
}
.THIS ul{
    padding:0px;
    border-width:0px 0px 0px 0px;
    border-style:none;
    border: 0px;  
    }
.THIS #nav2 li{
    background-color:rgb(216, 237, 255);
    color: black;
}
.THIS #nav2 li:hover a{
	background: #eef2f6;
    color: black;  
}
.THIS #nav li a{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0 2rem;
}
.THIS .demo{
     background-color:#eef2f6;
}