.THIS h1 { font-family: 'Work Sans', sans-serif; font-size: 25px; color: #1b253a;}
.THIS h2 { font-family: 'Work Sans', sans-serif; font-size: 23px; color: #1b253a; font-weight: 700;}
.THIS h3 { font-family: 'Work Sans', sans-serif; font-size: 16px; font-weight: 600; color: #1b253a;}
.THIS h4 { font-family: 'Work Sans', sans-serif; color: #1b253a;}
.THIS h5 { font-family: 'Work Sans', sans-serif; color: #1b253a;}
.THIS h6 { font-family: 'Work Sans', sans-serif; color: #1b253a;}
.THIS p { font-family: 'Open Sans', sans-serif; font-size: 16px; color: #1b253a;}
.THIS span { font-family: 'Open Sans', sans-serif; color: #1b253a;}
.THIS label { font-family: 'Open Sans', sans-serif; color: #1b253a;}
.THIS select { font-family: 'Open Sans', sans-serif; background-color: #fdfdfd; border: 1px solid #bbb; border-radius: 0;}
.THIS .btn1 {
    border-radius: 25px;
    font-size: 12px;
    background-color: #4E75A3;
    color: #fff;
    padding: 1px 5px;
    min-width: 120px;
}
.THIS .btn1:hover {
    color: #fff;
}.THIS label.slds-form-element__label{
    display: none !important;   
}
.THIS .btn2 {
   background-color: #fff;
    color: #4e75a3;
    border: 1px solid #4e75a3; 
}
.THIS .btn2:hover {
   background-color: #fff;
    color: #4e75a3;
    border: 1px solid #4e75a3; 
}
.THIS .radio-inline {
    width: 100%;
}
.THIS .radio-inline .slds-radio {
    display: inline-block !important;
    width: 25%;
}
.THIS .radio-inline .slds-radio:last-child {
    text-align: right;
}
@media(max-width: 992px) {
    .THIS .slds-modal__container {
        width: 90%;
        margin: 0 auto;
    }
}